.breadcrumb {
	margin-top: 7px;
	svg {
		fill: transparent;
		margin-right: 10px;
	}
	&-item {
		margin-top: 15px;
		padding-right: 1rem;
		align-items: center;
		& + & { padding-left: 0; }
		&:last-child { padding-right: 0; }
		a {
			display: flex;
			align-items: center;
			color: $blue-base;
			opacity: .8;
			text-decoration: none;
			&:hover, &:focus, &:active { opacity: 1; }
		}
	}
}