.faq {
  .searh {
    margin-bottom: 60px;
    @media (max-width: 1199px) {
      margin-bottom: 51px;
    }
  }
  h1, .h1 {
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 30px;
    @media (max-width: 1199px) {
      font-size: 45px;
    }
  }
  h2 {
    margin-top: 23px;
    font-size: 45px;
    letter-spacing: 1.4px;
    @media (max-width: 1199px) {
      margin-bottom: 26px;
      font-size: 40px;
      letter-spacing: -0.3px;
    }
    @media (max-width: 799px) {
      font-size: 38px;
    }
  }
  h3 {
    position: relative;
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: .7px;
    svg {
      position: absolute;
      top: 15px; right: -15px;
      fill: transparent;
      stroke: $blue;
      @media (min-width: 1028px) {
        display: none;
      }
      @media (max-width: 619px) {
        right: -5px;
      }
    }
    &[aria-expanded="true"] {
      svg { transform: scale(1, -1); }
    }
    &.text-center {
      @media (max-width: 619px) {
        padding: 0 15px;
      }
    }
  }
  .tab-content {
    .card {
      @media (max-width: 619px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .card-body {
      @media (max-width: 1199px) {
        padding: 30px 15px;
      }
      @media (max-width: 1027px) {
        padding: 30px;
      }
      @media (max-width: 619px) {
        padding: 30px 15px;
      }
    }
  }
  @media (min-width: 1028px) {
    .collapsing, .collapse:not(.show) {
      height: auto!important;
      display: block!important;
      transform: none!important;
    }
  }
  .card-body {
    color: rgba($color: $blue-base, $alpha: .65);
  }
  label {
    font-weight: 400;
    color: $blue-base;
  }
  &-nav {
    .card-body {
      padding: 30px 65px;
    }
    .nav {
      margin-top: 10px;
      .nav-item {
        margin-top: 24px;
      }
      .nav-link {
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
  &-item {
    padding: 22px 0;
    color: rgba($color: $blue-base, $alpha: .71);
    border-bottom: 1px solid $cyan-4;
    &-title {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 600;
      color: $blue-base;
    }
    &-date {
      margin-bottom: 26px;
      color: rgba($color: $blue-base, $alpha: .58);
    }
    a {
      margin-top: 14px;
      display: inline-block;
      text-decoration: none;
      svg {
        margin-left: 12px;
        fill: transparent;
        stroke: #70C8F2;
      }
    }
    &-answer {
      margin: 30px 0 60px;
      color: rgba($color: $blue-base, $alpha: .71);
      p { margin-bottom: 8px; }
    }
  }
}
.search-subtitle {
  margin: 40px 0 10px;
  font-size: 18px;
  color: $blue-base;
}