extends pug/base-lk

append vars
	- html.classList.push('page-lk')

block content

	section
		.container
			nav(aria-label="breadcrumb")
				ol.breadcrumb
					li.breadcrumb-item
						a(href="/lk-personal-account.html")
							+svg("user")(width="27" height="27")
							| Мой профиль
					li.breadcrumb-item
						a(href="/lk-main-user.html") Пользователи
					li.breadcrumb-item(aria-current="page") Добавить  физическое лицо 
	
	section.pt-20.pt-xl-0
		.container
			.row
				.col-lg-4.col-sm-12
					.card.user-nav.mb-30
						.card-body.pt-20.pr-10.pb-20.pl-10.pt-xl-25.pr-xl-30.pb-xl-15.pl-xl-30
							ul.nav.flex-column
								li.nav-item.mb-10
									a.nav-link(href="/lk-personal-account.html") Мой профиль
								li.nav-item.mb-10
									a.nav-link.active(href="/lk-main-user.html") Пользователи
								li.nav-item
									a.nav-link(href="/lk-collateral-objects.html") Объекты залога
								li.nav-item
									a.nav-link(href="/lk-notifications.html") Уведомления 
										span.badge.badge-pill.badge-danger 3
								li.nav-item
									a.nav-link(href="/lk-my-offers.html") Мои оферты
								li.nav-item
									a.nav-link(href="/lk-participation-in-offers.html") Участие в офертах
										span.badge.badge-pill.badge-danger 1
								li.nav-item
									a.nav-link(href="/lk-counter-offers.html") Встречные предложения
										span.badge.badge-pill.badge-danger 1
								li.nav-item
									a.nav-link(href="/lk-search-ads.html") Поиск объявлений
						ul.list-group
							li.list-group-item.border-right-0.border-left-0.pt-25.pb-30
								a.btn.btn-secondary.w-100(href="/lk-personal-account-edit.html")
									+svg("settings")(width="21" height="21")
									| Настройки
											
				.col-lg-8.col-sm-12
					.card.user-profile.user-profile-add
						.card-header
							h3.card-title.m-0 Добавить: Физические лица
						.card-body
							form.form.needs-validation(novalidate)
								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-1" role="button" aria-expanded="true" aria-controls="objectMore-1")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Основная информация
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-45#objectMore-1
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Фамилия*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Введите фамилию" value="Иванов" required)
											.invalid-feedback Необходимо указать Вашу фамилию
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Имя*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Введите имя" value="Иван" required)
											.invalid-feedback Необходимо указать Ваше имя
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Отчество*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Отчество" value="Иванович" required)
											.invalid-feedback Необходимо указать Ваше отчество
											.custom-control.custom-checkbox.align-items-center.text-left.mt-20
												input.custom-control-input#Check-1(type="checkbox" value="")
												label.custom-control-label.mt-2(for="Check-1") Нет отчества
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Телефон*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control.phone-mask(type="tel" placeholder="+7(___) ___ __ __" value="+7(981) 536 56 54")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Дополнительный телефон
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control.phone-mask(type="tel" placeholder="Ввести текст")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Дата рождения*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control.datepicker(type="" placeholder="Выбрать дату" required)
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Email*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="email" placeholder="Введите e-mail" value="user@examole.com" required)
											.invalid-feedback Необходимо заполнить Email.
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Пол
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											.row
												.col-6
													.custom-control.custom-radio
														input.custom-control-input#radio-1(name="radio" type="radio" value="")
														label.custom-control-label(for="radio-1") Мужской
												.col-6
													.custom-control.custom-radio
														input.custom-control-input#radio-2(name="radio" type="radio" value="")
														label.custom-control-label(for="radio-2") Женский
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.font-weight-bolder.pt-sm-0.pb-sm-0 Гражданство*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="" value="" required)

								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-2" role="button" aria-expanded="true" aria-controls="objectMore-2")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Документ удостоверяющий личность
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-45#objectMore-2
									.form-group
										b Документ 1
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Вид документа
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Паспорт")
												option(selected) Паспорт
												option Водительское удостоверение
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Серия/номер*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control.doc-mask(type="tel" placeholder="____ / ______" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Кем выдан*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Ввести текст" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Дата выдачи*
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control.datepicker(type="" placeholder="Выбрать дату" required)
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Срок действия
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control.datepicker(type="" placeholder="Выбрать дату" required)
									.form-group
										a.user-profile-add-link(href="#")
											svg.mr-10(width="18" height="18" viewBox="0 0 18 18" fill="none")
												path(d="M8.99609 16.8477C13.4144 16.8477 16.9961 13.2659 16.9961 8.84766C16.9961 4.42938 13.4144 0.847656 8.99609 0.847656C4.57782 0.847656 0.996094 4.42938 0.996094 8.84766C0.996094 13.2659 4.57782 16.8477 8.99609 16.8477Z")
												path(d="M8.99609 5.64844V12.0484")
												path(d="M5.79688 8.84766H12.1969")
											| Добавить еще документ

								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-3" role="button" aria-expanded="true" aria-controls="objectMore-3")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Дополнительная информация
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-45#objectMore-3
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 ИНН
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="tel" placeholder="____________" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 СНИЛС
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="tel" placeholder="____________" value="")

								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-4" role="button" aria-expanded="true" aria-controls="objectMore-4")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Информация об адресе проживания
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-45#objectMore-4
									.form-group
										b Адрес регистрации
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Индекс
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Страна
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Регион
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Город/н. пункт
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Улица
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											.dropdown
												input.form-control.text-left(placeholder="" value="Сухон" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
												.dropdown-menu(aria-labelledby="dropdownMenuButton")
													a.dropdown-item г Москва ул #[b Сухон]ская
													a.dropdown-item г Архангельск ул #[b Сухон]ская
													a.dropdown-item г Вологда ул #[b Сухон]ская
													a.dropdown-item Вологодская обл, г Сокол, наб #[b Сухон]ы (бывш. ул Н...
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Дом
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="" value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Квартира
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="" value="")

									.form-group.mt-40
										b Адрес проживания
									.form-group
										.custom-control.custom-checkbox.align-items-center.text-left.mt-20
											input.custom-control-input#Check-2(type="checkbox" value="")
											label.custom-control-label.mt-2(for="Check-2") Совпадает с адресом регистрации

								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-5" role="button" aria-expanded="true" aria-controls="objectMore-5")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Семейное положение
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-45#objectMore-5
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Статус
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Выбрать...")
												option(selected) Выбрать...
												option Женат/замужем
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Наличие брачного контракта
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Нет")
												option(selected) Нет
												option Да
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Дата брачного контракта
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control.datepicker(type="" placeholder="Выбрать дату" required)
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Номер брачного контракта
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Ввести текст" value="")

								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-6" role="button" aria-expanded="true" aria-controls="objectMore-6")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Дети
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-45#objectMore-6
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Наличие несовершеннолетних детей
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Выбрать...")
												option(selected) Выбрать...
												option Да
												option Нет
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Количество детей
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Ввести текст" value="2")
									.form-group.row.align-items-start
										.col-sm-4.pr-25
											.row
												label.col-sm-6.col-form-label.pt-sm-0.pb-sm-0 Возраст
												.col-sm-6.pr-md-0.pl-xl-0.pr-xl-10
													input.form-control.p-0.text-center(type="text" placeholder="Ввести текст" value="2")
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											.row
												label.col-sm-7.col-form-label.pt-sm-0.pb-sm-0 Ограничение дееспособности
												.col-sm-5.pr-md-0.pl-xl-0.pr-xl-10
													select.selectpicker(placeholder="Нет")
														option Да
														option(selected) Нет
									.form-group.row.align-items-start
										.col-sm-4.pr-25
											.row
												label.col-sm-6.col-form-label.pt-sm-0.pb-sm-0 Возраст
												.col-sm-6.pr-md-0.pl-xl-0.pr-xl-10
													input.form-control.p-0.text-center(type="text" placeholder="Ввести текст" value="2")
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											.row
												label.col-sm-7.col-form-label.pt-sm-0.pb-sm-0 Ограничение дееспособности
												.col-sm-5.pr-md-0.pl-xl-0.pr-xl-10
													select.selectpicker(placeholder="Нет")
														option Да
														option(selected) Нет
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Пояснение
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											textarea.form-control(name="" placeholder="Ввести текст")

								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-7" role="button" aria-expanded="true" aria-controls="objectMore-7")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Гарантии и заверения
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-45#objectMore-7
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Наличие неисполненных обязательств перед кредиторами
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Выбрать...")
												option(selected) Выбрать...
												option Выбрать...
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Пояснение
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											textarea.form-control(name="" placeholder="Ввести текст")
											small пояснение по неиспоненным обяз...
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Наличие судебных производств
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Выбрать...")
												option(selected) Выбрать...
												option Выбрать...
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Непогашенная судимость
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Выбрать...")
												option(selected) Выбрать...
												option Выбрать...
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Наличие открытых исполнительных производств
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Выбрать...")
												option(selected) Выбрать...
												option Выбрать...
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Ограничение дееспособности
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											select.selectpicker(placeholder="Выбрать...")
												option(selected) Выбрать...
												option Выбрать...
												
								.form-group.row.align-items-center.mb-30(data-toggle="collapse" data-target="#objectMore-8" role="button" aria-expanded="true" aria-controls="objectMore-8")
									.col-xl-8.col-md-10.col-11.pr-0
										h5.m-0 Банковские реквизиты
									.col-1.text-right.pl-0
										a.more
											+svg("chevron-down")

								.collapse.show.mb-50#objectMore-8
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Название банка
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Ввести текст " value="")
											small БИК или SWIFT 
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Номер счета
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Ввести текст " value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Корреспондентский счет 
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Ввести текст " value="")
									.form-group.row.align-items-start
										label.col-sm-4.col-form-label.pt-sm-0.pb-sm-0 Наименование банка 
										.col-xl-5.col-md-7.col-sm-8.pr-md-0.pl-xl-0.pr-xl-10
											input.form-control(type="text" placeholder="Ввести текст " value="")

								.form-group
									.custom-control.custom-checkbox.align-items-center.text-left
										input.custom-control-input#Check-3(type="checkbox" value="")
										label.custom-control-label(for="Check-3") Согласие на обработку персональных данных

								.form-group.row.align-items-start.mt-50.justify-content-center
									.col-sm-5.mt-15.mt-sm-0.pr-sm-0
										button.btn.btn-primary.w-100(type="submit") Сохранить

