extends pug/base-lk

append vars
	- html.classList.push('page-lk')

block content

	section
		.container
			nav(aria-label="breadcrumb")
				ol.breadcrumb
					li.breadcrumb-item(aria-current="page")
						+svg("user")(width="27" height="27")
						| Мой профиль
					li.breadcrumb-item(aria-current="page") Лицевой счет
					li.breadcrumb-item(aria-current="page") Пополнить
					
	section.pt-20.pt-xl-0
		.container

			.card.bg-primary.page-lk-alert.mb-50.d-none.d-lg-block
				.card-body.pr-15.pl-15.pr-md-20.pt-25.pb-25.pl-md-25
					.row.align-items-center
						.col-sm-7.col-md-9
							span Основной пользователь: Иванов Иван Иванович
						.col-sm-5.col-md-3.d-flex.justify-content-sm-end.mt-30.mt-sm-0
							span Баланс: #[b 1 000 руб.]

			.row
				.col-lg-4.col-sm-12.order-1.order-lg-0
					.card.user-nav.mt-30.mt-lg-0
						.card-body.pt-20.pr-10.pb-20.pl-10.pt-xl-25.pr-xl-30.pb-xl-15.pl-xl-30
							ul.nav.flex-column
								li.nav-item.mb-10
									a.nav-link(href="/lk-personal-account.html") Мой профиль
								li.nav-item.mb-10
									a.nav-link.active(href="/lk-main-user.html") Пользователи
								li.nav-item
									a.nav-link(href="/lk-collateral-objects.html") Объекты залога
								li.nav-item
									a.nav-link(href="/lk-notifications.html") Уведомления 
										span.badge.badge-pill.badge-danger 3
								li.nav-item
									a.nav-link(href="/lk-offers.html") Мои оферты
								li.nav-item
									a.nav-link(href="/lk-participation-in-offers.html") Участие в офертах
										span.badge.badge-pill.badge-danger 1
								li.nav-item
									a.nav-link(href="/lk-counter-offers.html") Встречные предложения
										span.badge.badge-pill.badge-danger 1
								li.nav-item
									a.nav-link(href="/lk-search-ads.html") Поиск объявлений
						ul.list-group
							li.list-group-item.border-right-0.border-left-0.pt-25.pb-30
								a.btn.btn-secondary.w-100(href="/lk-personal-account-edit.html")
									+svg("settings")(width="21" height="21")
									| Настройки
											
				.col-lg-8.col-sm-12.order-0.order-lg-1
					.payment-withdraw.mb-30.mb-lg-0

						h5 Выберите  способ вывода:

						.payment-withdraw-list.row
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/bank-card-maestro.png", alt="")
									p Банк. карта Maestro (Россия)
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/bank-card.png", alt="")
									p Банк. карта Visa, MasterCard (Россия)
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/bank-card-world.png", alt="")
									p Банк. карта "Мир"
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/yandex-money.png", alt="")
									p Яндекс.Деньги
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/qiwi.png", alt="")
									p Qiwi
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/webmoney.png", alt="")
									p Webmoney
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/paypal.png", alt="")
									p PayPal
							.col-6.col-sm-3
								a.payment-withdraw-item(href="/lk-personal-account-withdraw-2.html")
									.payment-withdraw-icon
										img(src="./images/paypal.png", alt="")
									p PayPal

					.card.payment-withdraw-text.mt-30.mt-lg-50
						.card-body
							ul
								li Вывод средств на разные реквизиты невозможен.
								li Указывай только #[b реальные, зарегистрированные данные.]
								li Твоя заявка будет обработана #[b в течение 1-3 рабочих дней.]
								li Заявка находится "В ожидании" более 2 дней — #[b проверь почту.]
